.form-group{
    margin-bottom: 10px;
}

.form-control{
    border-radius: 5px;
    border: 1px solid rgb(33, 150, 243);
    box-shadow: 0 0 2px 1px rgba(33, 150, 243, 0.5);
    border-radius: 3px;
    padding: 11px 10px ;
        
    &:focus{
        border: 1px solid rgb(233, 30, 99);
        box-shadow: 0 0 2px 1px rgba(233, 30, 99, 0.5);
    }
}

label{
    cursor: pointer;
}

.form-control::-webkit-outer-spin-button,
.form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
}   

.form-control[type=number] {
    -moz-appearance:textfield;
}


.btn{
    border-radius: 3px;
}